:root {
  --primary-bg: #f7f7f7;
  --primary-text: #333;
  --accent1: #ffae00;
  --accent2: #ffce00;
  --accent3: #ffd700;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

header {
  background-color: #222;
  color: var(--primary-bg);
}

a {
  color: #007bff;
}

footer {
  background: #222;
}